@media (min-width: 768px) {
    header{
        background-image: url("/img/sunsetheader.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
        font-weight:bolder;
        text-decoration-color: black  ;
    
        }
    
        .hero{
            margin: 0 auto;
            overflow: hidden;
            padding: 10px 0;
            align-items: center;
            justify-content: center;
            
        }
    }
 
 
 .btnWide{
    width: 100%;
}
p{
    text-indent: 30pt;
}  